<img
  data-controller="random-image"
  data-random-image-slug-value="<%= @slug %>"
  data-random-image-prev-slug-value="<%= params[:prev_slug] %>"
  data-random-image-target="imageDisplay"
  data-random-image-sessions-outlet=".session-hex"
/>
<div
  data-controller="draggable"
  data-action="
    mousedown->draggable#mousedown
    mousemove->draggable#mousemove
    mouseup->draggable#mouseup
  "
  class="
    info-box draggable-box p-3 bg-black bg-opacity-50 text-white font-mono max-w-md
    text-justify filter backdrop-blur-sm
  "
  style="position: absolute; top: 4rem; left: 4rem; width: 300px; height: 200px;"
>
  <h1
    class="
      text-2xl font-bold leading-7 text-white sm:truncate sm:text-3xl
      sm:tracking-tight
    "
  >
    <%= @slug.humanize %>
  </h1>
  <p class="mt-2 text-base leading-6 text-white">
    <%= @description %>
  </p>
</div>
