service: progapanda_art
image: progapandist/progapanda-art

accessories:
  imgproxy:
    image: darthsim/imgproxy
    host: 165.232.72.204
    port: 8080
    env:
      clear:
        IMGPROXY_LOCAL_FILESYSTEM_ROOT: /rails/art_sources
        IMGPROXY_MAX_SRC_RESOLUTION: 9999999
        IMGPROXY_BASE_URL: "local:///"
      # secret:
      #   - IMGPROXY_KEY
      #   - IMGPROXY_SALT
    volumes:
      - "/data/art_sources:/rails/art_sources:ro"
    proxy:
      host: imgproxy.progapanda.org
      ssl: true
      app_port: 8080
      healthcheck:
        path: /health

servers:
  web:
    hosts:
      - 165.232.72.204

proxy:
  host: art.progapanda.org
  ssl: true
  app_port: 3000
  forward_headers: true

registry:
  server: docker.io
  username: progapandist
  password:
    - KAMAL_REGISTRY_PASSWORD

builder:
  arch: amd64
  context: .

env:
  secret:
    - SECRET_KEY_BASE
    # - IMGPROXY_KEY
    # - IMGPROXY_SALT

volumes:
  - "/data/art_sources:/rails/art_sources:ro"

asset_path: /rails/public/assets

allow_empty_roles: true
